<body>
    <div class="bg-red-300 " routerLink="">   
      <div class="bg-pink-300">
        <div class="absolute">
          <app-dope-butterfly></app-dope-butterfly>   
         </div> 
        <div class="card">
          <div class="back"></div>
          <div class="front">
            <div class="imgset">
              <img width="100%" src="../../../../../assets/images/wishesInEnglish.jpg">
            </div>
          </div>
          <div class="text-container">
            <p id="head">Happy Married Life Somu❤️Pavi </p>
            <p>Wishing you both a lifetime of love, happiness, and cherished memories.❤️🥂✨!</p>
            <p>Congratulations on your marriage, and may your love story be the most beautiful chapter of your lives!🌟</p>
          </div>
        </div>
      </div>
   
      <div class="bg-green-300">
        <div class="absolute">
          <app-dope-butterfly></app-dope-butterfly>   
         </div> 
        <div class="card">
          <div class="back"></div>
          <div class="front">
            <div class="imgset">
              <img width="100%"
                src="../../../../../assets/images/Wishes1.jpg">
            </div>
          </div>
          <div class="text-container">
            <p id="head">सौमू❤️पवी को शादीशुदा जिंदगी मुबारक हो</p>
            <p>आप दोनों को प्यार, खुशी और सुनहरी यादों से भरी एक पूरी जिंदगी की शुभकामनाएं❤️🥂✨!</p>
            <p>आपकी शादी की ढेरों बधाईयाँ, और आपकी प्रेम कहानी आपके जीवन का सबसे खूबसूरत अध्याय बने!🌟</p>
          </div>
        </div>
      </div>
    
      <div class="bg-blue-300">
        <div class="absolute">
          <app-dope-butterfly></app-dope-butterfly>   
         </div> 
        <div class="card">
          <div class="back"></div>
          <div class="front">
            <div class="imgset">
              <img width="100%"
                src="../../../../../assets/images/Wishes2.jpg">
            </div>
          </div>
          <div class="text-container">
            <p id="head">సోమూ❤️పవి మీరు వివాహ జీవితంలో సంతోషంగా ఉండాలి</p>
            <p>మీ ఇద్దరికీ ప్రేమ, ఆనందం, మరియు అమూల్యమైన జ్ఞాపకాలు కలిగిన జీవితాన్ని ఆశిస్తున్నాము❤️🥂✨</p>
            <p>మీ వివాహానికి శుభాకాంక్షలు, మరియు మీ ప్రేమకథ మీ జీవితంలోని అతి అందమైన అధ్యాయం కావాలని కోరుకుంటున్నాము!🌟</p>
          </div>
        </div>
      </div>
  
      <div class="bg-orange-300">
        <div class="absolute"> 
          <app-dope-butterfly></app-dope-butterfly>   
         </div> 
        <div class="card">
          <div class="back"></div>
          <div class="front">
            <div class="imgset">
              <img width="100%"
                src="../../../../../assets/images/Wishes3.jpg">
            </div>
          </div>
          <div class="text-container">
            <p id="head">ಸೋಮೂ❤️ಪವಿ ನಿಮ್ಮ ವಿವಾಹ ಜೀವನ ಸಂತೋಷಕರವಾಗಿರಲಿ</p>
            <p>ನೀವು ಇಬ್ಬರಿಗೂ ಪ್ರೀತಿ, ಸುಖ ಮತ್ತು ಅಮೂಲ್ಯ ಸ್ಮೃತಿಗಳಿಂದ ಕೂಡಿದ ಜೀವನವಿರಲೆಂದು ಹಾರೈಸುತ್ತೇನೆ❤️🥂✨</p>
            <p>ನಿಮ್ಮ ವಿವಾಹಕ್ಕೆ ಹಾರ್ದಿಕ ಅಭಿನಂದನೆಗಳು, ಮತ್ತು ನಿಮ್ಮ ಪ್ರೇಮಕಥೆ ನಿಮ್ಮ ಜೀವನದ ಅತಿ ಸುಂದರ ಅಧ್ಯಾಯವಾಗಿರಲಿ!🌟</p>
          </div>
        </div>
      
      </div>
  
      <div class="bg-yellow-300">
        <div class="absolute">
          <app-dope-butterfly></app-dope-butterfly>   
         </div> 
        <div class="card">
          <div class="back"></div>
          <div class="front">
            <div class="imgset">
              <img width="100%" height="100%"
                src="../../../../../assets/images/Wishes4.jpg">
            </div>
          </div>
          <div class="text-container">
            <p id="head">திருமண வாழ்த்து, சோமு❤️பவி! </p>
            <p> உங்கள் சேர்ந்த பயணம் சிறப்பு, பங்குகள் மற்றும் ஒப்புக்கொள்கின்ற நினைவுகளுடன் நிறைவேற்றப்பட வேண்டும்.❤️🥂✨!</p>
            <p>உங்கள் காதல் கதை உங்கள் வாழ்க்கையின் அழகான அத்தியாயமாக இருக்கட்டும்!🌟</p>
          </div>
        </div>
      </div>
    
    </div>
    
   
  </body>